[submodule "3rdParty/imgui"]
	path = 3rdParty/imgui
	url = https://github.com/sotha-sil-zen/imgui
[submodule "3rdParty/stb"]
	path = 3rdParty/stb
	url = https://github.com/sotha-sil-zen/stb
[submodule "3rdParty/assimp"]
	path = 3rdParty/assimp
	url = https://github.com/sotha-sil-zen/assimp
[submodule "3rdParty/eigen"]
	path = 3rdParty/eigen
	url = https://gitlab.com/libeigen/eigen
